/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Hanuman');
@import url('https://fonts.googleapis.com/css?family=Kdam Thmor');
#9A8C98
.container {
    display: flex;
    grid-template: auto 1fr auto / auto 1fr auto;
}
body {
    display: grid;
    grid-template: auto;
}
header {
    display: flex;
    grid-template: auto 1fr auto / auto 1fr auto;
}
main-content {
    grid-column: 2 / 3;
    text-align: left;
    color: #C9ADA7;
    font-family: serif, "Hanuman";
}
left-side {
    grid-column: 1 / 2;
}
right-side {
    grid-column: 3 / 4;
}
footer {
    grid-column: 1 / 4'
}