/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Hanuman');
@import url('https://fonts.googleapis.com/css?family=Kdam Thmor');

.container {
    display: grid;
    height: auto;
    grid-template: auto;
}
header {
    padding: 2rem;
    grid-column: 1 / 4;
    background: #9A8C98;
}
.main-content {
    grid-column: 2 / 3;
    text-align: left;
    background: #C9ADA7;
    font-family: serif, "Hanuman";
}
.left-side {
    grid-column: 1 / 2;
    background: burlywood;
    padding: 1rem;
}
.right-side {
    grid-column: 3 / 4;
    background: cornflowerblue;
    padding: 1rem;
}
footer {
    grid-column: 1 / 4;
    background: yellowgreen;
    padding: 2rem;
}