/* bb8588,c2cad0,c2b9c2,b39bc8,a5c882 */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@500');

body {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
  }
header {
    background-color: #C2CAD0;
    display: block;
    text-align: center;
    padding: 10px;
    grid-column: 1 / 4;
}
h1 {
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;
    color: #B39BC8;
    text-align: center;
}
nav {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
nav a {
    text-align: center;
    padding: 1rem;
}
nav a:hover {
    color: #B39BC8;
    border-style: double;
}
main {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-row-gap: 5px;
    grid-column-gap: 50px;
    max-width: 100%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.mecard {
    border: 2px solid #C2B9C2;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}
.resourcecard {
    border: 2px solid #C2B9C2;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}
footer {
    background: #C2CAD0;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }