/*font-family: "Poetsen One", sans-serif;
font-weight: 400;*/

/****** Mobile View *******/
/*:root {
    --font-heading: "Poetsen One", sans-serif;
    --font-page: "Noto Serif", serif;
}*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: grid;
    text-align: center;
    background-image: url("prflag.webp");
}
h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
}
h2 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    border-top: 5px solid;
    border-bottom: 5px solid;
}
.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

main {
    border-bottom: 5px solid;
}

.data,
.weather {
    display: grid;
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

#icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    padding-top: 1rem;
}

tr {
    /*font-family: ;*/
    font-size: 1em;
    width: 175px;
}

th {
    text-align: right;
    padding-right: 0.5rem;
    font-weight: 600;
}

td {
    text-align: left;
    padding-left: 0.5rem;
    font-weight: 400;
}

footer {
    background-color: blue;
    color: black;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    margin: 0;
}

/****** Large View *******/
/* @media screen and (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
	    justify-content: space-between;
	}
	nav {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
    
}*/
@media (min-width: 768px) {

    body {
        position: relative;
    }

    table {
        padding: 1rem;
    }

    .data {
        position: absolute;
        top: 170px;
        left: 20px;
        width: 350px;
    }

    h2 {
        background-color: red;
    }

    #icon {
        display: none;
    }

    .weather {
        position: absolute;
        right: 20px;
        bottom: 100px;
        width: 350px;
        display: grid;
    }

    .weather h2::after {
        text-shadow: 0 0 3px white;
    }
}