/****** Mobile View *******/
h1 {
    text-align: center;
    background-image: url(https://giphy.com/gifs/history-uUmZKHjgUsROM);
}


/****** Large View *******/
@media screen and (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
	    justify-content: space-between;
	}
	nav {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
    
}