/* Navigation menu large view*/
@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
	    justify-content: space-between;
	}
	
	nav {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
    /*Figure images Large view*/
    .figures {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 10px;
    }
	#navigation {
		display: none;
	}
}