/* mobile ********/

header {
    display: grid;
    padding: 20px;
    background-color: #606C38;
    color: #FEFAE0;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
}
/* hamburger */
#menu {
    display: block;
    position: absolute;
    padding: .5rem .75rem;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    color: #DDA15E;
}
#menu::before {
    content: '☰'
}
#menu.show::before {
    content: 'X';
}
.show navigation {
    display: block;
    z-index: 1;
}
.open nav {
    display: block;
}
.active::before {
    content: nav;
}
/* heading and nav */
h1 {
    font-size: 2rem;
    text-decoration: underline wavy #DDA15E;
}
nav {
    display: flex;
    flex-direction: column;
    
}
nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    color:#FEFAE0;
}
nav a:hover {
    color:#DDA15E;
    border: dotted;
}

/* images ******/
main {
    background-color: #FEFAE0;
    color: #283618;
}
h2 {
    font-size: 35px;
    text-decoration: underline wavy #DDA15E;
    text-align: center;
    padding: 5px;
}
.figures {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Courgette", cursive;
    font-weight: 400;
    text-align: center;
    color:#283618;
}
.figures img {
    max-width: 300px;
    height: auto;
}
.figcaption{
    padding: 1rem;
}
.figures img:hover {
    box-shadow: 10px 10px 20px #BC6C25;
}
footer {
    background-color: #606C38;
    padding: 20px;
    text-align: center;
    color:#FEFAE0;
}
